# EditorConfig is awesome: http://EditorConfig.org

[*.xml]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

[*.java]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true